<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hi Gubao</title>
</head>
<body>

<h1>Hi {{ .u1.Name }}</h1>
<h2>Gender: {{ .u1.Gender }}</h2>
<h3>Age: {{ .u1.Age }}</h3>

{{ with .m1 }}
<h1>Hello {{ .Name }}</h1>
<h2>Gender: {{ .Gender }}</h2>
<h3>Age: {{ .Age }}</h3>
{{end}}

<hr/>

{{ $n := 1 }}
{{ if eq $n 2 }}
    <h3>{{ and .m1.Age $n }}</h3>
{{ else }}
    <h6>----------------------</h6>
{{ end }}

<hr/>

{{ range $i, $bao := .bao }}
    <p>{{ $i }} - {{ $bao }}</p>
{{end}}

</body>
</html>